@tailwind base;
html {
    font-size: 62.5%;
}
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "SegoeUI";
        src: local("SegoeUI"), url("../fonts/SegoeUI.ttf") format("truetype");
    }

    @font-face {
        font-family: "HANDotum";
        src: local("Nanum-Gothic"),
            url("../fonts/HANDotum.ttf") format("truetype");
    }
}
