@tailwind base;
html {
    font-size: 62.5%;
    /* font-family: NotoSansKR; */
}
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "SegoeUI";
        src: local("SegoeUI"), url("../fonts/SegoeUI.ttf") format("truetype");
        font-display: swap;
    }

    @font-face {
        font-family: "HANDotum";
        src: local("Nanum-Gothic"),
            url("../fonts/HANDotum.ttf") format("truetype");
        font-display: swap;
    }

    @font-face {
        font-family: "NotoSansKR";
        src: local("NotoSansKR"),
            url("../fonts/NotoSansKR-Medium.otf") format("truetype");
        font-display: swap;
    }
}
